table{
    margin:auto;
    width: 500px;
    text-align:center;
    margin-top:100px;
}
table,th,td{
    
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}
.user{
    background-color: rgb(10, 214, 221);
    color: white;
}
.users{
    color: cadetblue;
    width: 1000px;
}